<div class="content">
			<div class="container-fluid">
					<div class="row">
							<div class="col-md-12">
									<div class="card">
											<div class="header">
													<h4 class="title">User</h4>
											</div>
											<div class="content table-responsive table-full-width">
													<table class="table table-striped">
															<thead>
																<th>ID</th>
																<th>Name</th>
																<th>Local position</th>
																<th>point</th>
																<th></th>
															</thead>
															<tbody>
																<%for(var i=0;i<user.length;i++){
																		if(user[i].approvalState){
																	%>
																		<tr>
																			<td><a href="/user/detail?id=<%=user[i].id%>&approvalState=<%=user[i].approvalState%>" id="form" onclick="form()"><%=user[i].id%></a></td>
																			<td><%=user[i].name%></td>
																			<td><%=user[i].localPosition%></td>
																			<td><%=user[i].point%></td>
																			<td><%if(user[i].grade !=0){%><a href="/user/deliverly?local=<%=user[i].localPosition%>&id=<%=user[i].id%>">납품하기</a><%}%></td>
																		</tr>
																	<%}}%>
															</tbody>
													</table>
											</div>
									</div>
							</div>
							<div class="col-md-12">
									<div class="card card-plain">
											<div class="header">
													<h4 class="title">Request for subscription</h4>
											</div>
											<div class="content table-responsive table-full-width">
													<table class="table table-hover">
															<thead>
																<th>ID</th>
																<th>Name</th>
																<th>Local position</th>
															</thead>
															<tbody>
																<%for(var i=0;i<user.length;i++){
																		if(!user[i].approvalState){
																	%>
																		<tr>
																			<td><a href="/user/detail?id=<%=user[i].id%>&approvalState=<%=user[i].approvalState%>" id="form" onclick="form()"><%=user[i].id%></a></td>
																			<td><%=user[i].name%></td>
																			<td><%=user[i].localPosition%></td>
																		</tr>
																	<%}}%>
															</tbody>
													</table>

											</div>
									</div>
							</div>
				</div>
		</div>
</div>

<script>
function form(){
	var form=document.getelementbyid('form'); //폼 name
	form.action="/user/detail";//이동할 페이지
	form.method="post";//POST방식
	form.submit();
}
</script>
